<h1>Hola, <%= @user.name %>:</h1>

<p>
	Gracias por registrarte en M10.
	Ya puedes empezar a registrar pistas de tenis y padel en tu comunidad o club.
	Tu usuario es: <%= @user.login %>

	Saludos
</p>