
<!doctype html>
<html lang="en" class="no-js">
<head>
  	
	<title>Hero Slideshow</title>
</head>
<body>
	<header class="cd-header">
		<div id="cd-logo"><a href="#0"><img src="assets/cd-logo.svg" alt="Logo"></a></div>

		<nav class="cd-primary-nav">
			<ul>
				<li><a href="#0">Home</a></li>
				<li><a href="#0">Portfolio</a></li>
				<li><a href="#0">Contact</a></li>
			</ul>
		</nav> <!-- .cd-primary-nav -->
	</header>

	<section class="cd-hero">
		<ul class="cd-hero-slider autoplay">
			<li class="selected">
				<div class="cd-full-width">
					<h2>Hero slider</h2>
					<p>A simple, responsive slideshow in CSS &amp; jQuery.</p>
					<a href="http://codyhouse.co/?p=675" class="cd-btn">Article &amp; Download</a>
				</div> <!-- .cd-full-width -->
			</li>


			<li class="cd-bg-video autoplay" >
				<div class="cd-full-width">
					<h2>Slide title here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
					<a href="#0" class="cd-btn">Learn more</a>
				</div> <!-- .cd-full-width -->

				<div class="cd-bg-video-wrapper" data-video="/video/video">
					<!-- video element will be loaded using jQuery -->
				</div> <!-- .cd-bg-video-wrapper -->
			</li>
	</section> <!-- .cd-hero -->

	
</body>
</html>