<% if current_user.admin %>

<p id="notice"><%= notice %></p>

<h2>Editar pista</h2>

<%= render partial: 'form', locals: {action: 'Editar'} %>

<%= link_to 'Mostrar', @court %> |
<%= link_to 'Volver', courts_path %>

<% end %>