/*

*= require_tree .
*= require_self

*/
.main-menu-left {
	padding-left: 200px;
	float: left;
}

.main-menu-right {
	float: right;
}

.header-background {
	background-color: #222;
	width: 100%;
}

.navbar-inverse {
	border-color: #222;
}