<p>Hola <%= @resource.email %>!</p>

<p>Puedes cambiar tu contraseña en el siguiente link:.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has solicitado el cambio, ignora este correo.</p>
<p>Tu contraseña no se cambiará hasta que entres en el link superior y añadas una nueva contraseña.</p>
